[submodule "pq-reth"]
	path = pq-reth
	url = https://github.com/0xGeN02/pq-reth.git
	branch = main
[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std.git
